* {
  box-sizing: border-box;
}
:root, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  --bg-1: rgb(206, 212, 218);
  --bg-2: rgb(228, 229, 231);
  --text: #000000;
}

body {
  background-color: var(--bg-1);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
/* layout e utilidades */
header {
  padding: 6px ;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.radius {
  border-radius: 6px;
}
.margin-b-10 {
  margin-bottom: 10px;
}
.box {
  padding: 12px 8px;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}

.block {
  display: block;
}

.in-line, p {
  display: inline;
}
.gap-10 {
  gap: 10px;
}
.p-x-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.content-table {
  grid-template-columns: repeat(2, 1fr);
}
.content-table li {
  list-style: none;
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.25rem;
  text-decoration-color: var(--text);
}
.contact-link span {
  color: var(--text);
  font-size: 1rem;
}

.contact-link:hover span{
  text-shadow: 0px 0px 1px var(--text);
}

.custom-icon {
  user-select: none;
  height: 1em;
  width: auto;
  display: inline;
  vertical-align: middle;
}

.overflow-hidden {
  overflow: hidden;
}

ul {
  padding: 0 20px;
}

#themeButton {
  anchor-name: --theme-button;
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  background-color: var(--bg-2);
  color: var(--text);
  display: flex;
  gap: 6px;
  align-items: center;
}
#themeButton:hover {
  text-shadow: 0px 0px 1px var(--text);
}
[popover] {
  position-anchor: --theme-button;
  position-area: top;
  left: anchor(left);
  margin-bottom: 1em;
  max-width: 200px;
  border-radius: 6px;
  display: none;
  background-color: var(--bg-2);
  border-width: 0px;
  box-shadow: 0px 0px 2px #000;
  flex-direction: column;
  gap: 2px;
}
[popover] button {
  width: 100%;
  border: none;
  background-color: var(--bg-1);
  color: var(--text);
  padding: 8px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  gap: .5em;
}

[popover] button:hover {
  width: 100%;
  border: none;
  cursor: pointer;
}

[popover]:popover-open {
  display: flex;
}

/* fontes */
h1 {
  font-size: 1.25rem;
  margin: 0;
  font-weight: 700;
}
h2 {
  font-size: 1.1rem;
  margin: 0;
  font-weight: 700;
}
.font-bold {
  font-weight: 700;
}
.color-whatsapp {
  color: #25d366;
}

.color-linkedin {
  color: #0e76a8;
}

.color-github {
  color: #101411;
}
.color-gmail {
  color: #000000;
}
/* backgrounds */
.bg-1 {
  background-color: var(--bg-1);
}
.bg-2 {
  background-color: var(--bg-2);
}

/* tamanhos */

.max-width-lg {
  max-width: 1024px;
}
.max-width-md {
  max-width: 720px;
}
.max-width-sm {
  max-width: 576px;
}

@media (min-width: 576px) {

}

@media (min-width: 720px) {
  .content-table {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1200px) {
  
}

/* tema */
body[data-theme="light"] {
  --bg-1: rgb(206, 212, 218);
  --bg-2: rgb(228, 229, 231);
  --text: #000000;
}
body[data-theme="dark"] {
  --bg-1: #0a121a;
  --bg-2: #0d1721;
  --text: #ffffff;
}
body[data-theme="dark"] .color-github {
  color: var(--text)
}
@media (prefers-color-scheme: dark) {
  body {
    --bg-1: #0a121a;
    --bg-2: #0d1721;
    --text: #ffffff;
  }
  .color-github {
    color: var(--text)
  }
}